
body {
  background: #272727;
}

.page {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  overflow-y: auto;
  width: 100vw;
  min-height: 100vh;
  max-height: 200vh;
  background-color: #272727;
}

.pageB {
  width: 100vw;
  min-height: 100vh;
  background-color: #393939;
}

#home {
  background: linear-gradient(#000000, #000000 40%, #272727 75%);
}

#contact {
  background-color: black;
}
